/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

/* -------------------- HEADINGS AND TYPE */

/* -------------------- LAYOUTS */
.layout-wide{
     background-color: green;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;

}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

body {
    background-color: red;
}