/* -------------------- VARIABLES */


/* -------------------- GLOBAL DEFAULTS */


img {
    max-width: 100%;
}
/* -------------------- HEADINGS AND TYPE */

/* -------------------- LAYOUTS */
.layout-wide{
     background-color: #FFFFFF;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;

     

}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */
* navigation bar colour */

.topnav {

    background-color: whitesmoke;

    overflow: hidden;

  }

 

  /* link customisaitons */

  .topnav a {

    float: left;

    color: gray;

    text-align: center;

    padding: 16px 16px;

    text-decoration: none;

    font-size: 17px;

    font-family: Arial, Helvetica, sans-serif;

  }

 

  /* Changing color of links on hover */

  .topnav a:hover {

    color: black;

  }

 

  /* colour of the active/current link */

  .topnav a.active {

    color: black;

  }
/* -------------------- FOOTER */

/* -------------------- MODULES */

body {
    background-color: #FFFFFF;
}