/* -------------------- VARIABLES */


/* -------------------- GLOBAL DEFAULTS */



/* -------------------- HEADINGS AND TYPE */
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap')
/* Tried adding in a custom font but im not sure if it worked or not */

/* -------------------- LAYOUTS */
.layout-wide{
     background-color: #FFFFFF;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
}

/* i tried to follow a Youtube tutorial for a grid gallery but it didnt work :(  i tried fixing it but couldnt do it either*/

body{
  margin: 0%;
}

.image-grid{
--gap: 16px;
--num-cols: 3:
--row-height: 300px:
}

box-sizing: border-box;
padding:var()

display grid:
grid-template-columns: repeat(var (--num cols:), 1fr)
grid-auto-rows:
gap: var(--gap)
}

.image-grid > img
width: 100%
height: 100%
object-fit cover: 

/* -------------------- HEADER */

/* -------------------- NAVIGATION */
* navigation bar colour */

.topnav {

    background-color: whitesmoke;

    overflow: hidden;

  }

 

  /* link customisaitons */

  .topnav a {

    float: left;

    color: gray;

    text-align: center;

    padding: 16px 16px;

    text-decoration: none;

    font-size: 17px;

    font-family: Arial, Helvetica, sans-serif;

  }

 

  /* Changing color of links on hover */

  .topnav a:hover {

    color: black;

  }

 

  /* colour of the active/current link */

  .topnav a.active {

    color: black;

  }
/* -------------------- FOOTER */

/* -------------------- MODULES */

body {
    background-color: #FFFFFF;
}